th{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
}
td{
    text-align: center;
}

nav{
    background: rgb(29, 28, 29);
}
#table,#table2{
    margin: 30px;
    background-color: rgb(218, 218, 218);
}
.headings{
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    padding: 5px;
    background-color:turquoise;
}
   /* @media only screen and (max-width: 750px) {
    th{
        font-size: medium;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
    }
    td{
        font-size: small;
        text-align: center;
    }
    button{
        padding: 2px;
        font-size: small;
    }

}  */

@media 
only screen and (max-width: 660px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "SERIAL #"; }
	
}


